/****** Object:  Table [dbo].[CLIENTES]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [nvarchar](100) NULL,
	[IDENTIDADE_CLIENTE] [nvarchar](30) NOT NULL,
	[CEP_CLIENTE] [nvarchar](30) NULL,
	[RUA_CLIENTE] [nvarchar](100) NULL,
	[NUMERO_CLIENTE] [nvarchar](30) NULL,
	[BAIRRO_CLIENTE] [nvarchar](100) NULL,
	[CIDADE_CLIENTE] [nvarchar](100) NULL,
	[ESTADO_CLIENTE] [nvarchar](2) NULL,
	[TELEFONE_CLIENTE] [nvarchar](30) NULL,
	[CELULAR_CLIENTE] [nvarchar](30) NULL,
	[EMAIL_CLIENTE] [nvarchar](100) NULL,
	[DATA_INFO_CLIENTE] [datetime] NULL,
	[OBS_CLIENTE] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDENTIDADE_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FORNECEDORES]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORNECEDORES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FORNECEDORES](
	[ID_FORNECEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FORNECEDOR] [nvarchar](100) NULL,
	[IDENTIDADE_FORNECEDOR] [nvarchar](30) NOT NULL,
	[CEP_FORNECEDOR] [nvarchar](30) NULL,
	[RUA_FORNECEDOR] [nvarchar](100) NULL,
	[NUMERO_FORNECEDOR] [nvarchar](30) NULL,
	[BAIRRO_FORNECEDOR] [nvarchar](100) NULL,
	[CIDADE_FORNECEDOR] [nvarchar](100) NULL,
	[ESTADO_FORNECEDOR] [nvarchar](2) NULL,
	[TELEFONE_FORNECEDOR] [nvarchar](30) NULL,
	[CELULAR_FORNECEDOR] [nvarchar](30) NULL,
	[EMAIL_FORNECEDOR] [nvarchar](100) NULL,
	[DATA_INFO_FORNECEDOR] [datetime] NULL,
	[OBS_FORNECEDOR] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FORNECEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDENTIDADE_FORNECEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FORNECIMENTO_PRODUTO]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORNECIMENTO_PRODUTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FORNECIMENTO_PRODUTO](
	[ID_FORNECIMENTO_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_FORNECIMENTO] [int] NULL,
	[ID_PRODUTO] [int] NULL,
	[QUANTIDADE_PRODUTO] [decimal] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FORNECIMENTO_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FORNECIMENTOS]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORNECIMENTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FORNECIMENTOS](
	[ID_FORNECIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DATA_FORNECIMENTO] [datetime] NULL,
	[VALOR_FORNECIMENTO] [decimal](18, 0) NULL,
	[ID_FORNECEDOR] [int] NULL,
	[OBS_FORNECIMENTO] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FORNECIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FUNCIONARIOS]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FUNCIONARIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FUNCIONARIOS](
	[ID_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FUNCIONARIO] [nvarchar](100) NULL,
	[IDENTIDADE_FUNCIONARIO] [nvarchar](30) NOT NULL,
	[CARGO_FUNCIONARIO] [nvarchar](50) NULL,
	[CEP_FUNCIONARIO] [nvarchar](30) NULL,
	[RUA_FUNCIONARIO] [nvarchar](100) NULL,
	[NUMERO_FUNCIONARIO] [nvarchar](30) NULL,
	[BAIRRO_FUNCIONARIO] [nvarchar](100) NULL,
	[CIDADE_FUNCIONARIO] [nvarchar](100) NULL,
	[ESTADO_FUNCIONARIO] [nvarchar](2) NULL,
	[TELEFONE_FUNCIONARIO] [nvarchar](30) NULL,
	[CELULAR_FUNCIONARIO] [nvarchar](30) NULL,
	[EMAIL_FUNCIONARIO] [nvarchar](100) NULL,
	[DATA_INFO_FUNCIONARIO] [datetime] NULL,
	[OBS_FUNCIONARIO] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDENTIDADE_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUTOS](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PRODUTO] [nvarchar](100) NULL,
	[QUANTIDADE_PRODUTO] [decimal] NULL,
	[VALOR_PRODUTO] [decimal](18, 0) NULL,
	[ID_FORNECEDOR_PRODUTO] [int] NULL,
	[OBS_PRODUTO] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USERS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_USUARIO] [nvarchar](30) NOT NULL,
	[SENHA_USUARIO] [nvarchar](30) NOT NULL,
	[NIVEL_USUARIO] [nvarchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VENDA_PRODUTO]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENDA_PRODUTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VENDA_PRODUTO](
	[ID_VENDA_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENDA] [int] NULL,
	[ID_PRODUTO] [int] NULL,
	[QUANTIDADE_PRODUTO] [decimal] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENDA_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 09/05/2018 20:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENDAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VENDAS](
	[ID_VENDA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_VENDEDOR] [int] NULL,
	[DATA_VENDA] [datetime] NULL,
	[VALOR_VENDA] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FORNECIME__ID_FO__32AB8735]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORNECIMENTO_PRODUTO]'))
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO]  WITH CHECK ADD FOREIGN KEY([ID_FORNECIMENTO])
REFERENCES [dbo].[FORNECIMENTOS] ([ID_FORNECIMENTO])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FORNECIME__ID_PR__339FAB6E]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORNECIMENTO_PRODUTO]'))
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO]  WITH CHECK ADD FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[PRODUTOS] ([ID_PRODUTO])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__FORNECIME__ID_FO__3493CFA7]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORNECIMENTOS]'))
ALTER TABLE [dbo].[FORNECIMENTOS]  WITH CHECK ADD FOREIGN KEY([ID_FORNECEDOR])
REFERENCES [dbo].[FORNECEDORES] ([ID_FORNECEDOR])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__PRODUTOS__ID_FOR__3587F3E0]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS]'))
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD FOREIGN KEY([ID_FORNECEDOR_PRODUTO])
REFERENCES [dbo].[FORNECEDORES] ([ID_FORNECEDOR])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__VENDA_PRO__ID_PR__367C1819]') AND parent_object_id = OBJECT_ID(N'[dbo].[VENDA_PRODUTO]'))
ALTER TABLE [dbo].[VENDA_PRODUTO]  WITH CHECK ADD FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[PRODUTOS] ([ID_PRODUTO])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__VENDA_PRO__ID_VE__37703C52]') AND parent_object_id = OBJECT_ID(N'[dbo].[VENDA_PRODUTO]'))
ALTER TABLE [dbo].[VENDA_PRODUTO]  WITH CHECK ADD FOREIGN KEY([ID_VENDA])
REFERENCES [dbo].[VENDAS] ([ID_VENDA])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__VENDAS__ID_CLIEN__3864608B]') AND parent_object_id = OBJECT_ID(N'[dbo].[VENDAS]'))
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__VENDAS__ID_VENDE__395884C4]') AND parent_object_id = OBJECT_ID(N'[dbo].[VENDAS]'))
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[USERS] ([ID_USUARIO])
GO
