USE [Madeireira]
GO
ALTER TABLE [dbo].[VENDAS] DROP CONSTRAINT [FK__VENDAS__ID_VENDE__36B12243]
GO
ALTER TABLE [dbo].[VENDAS] DROP CONSTRAINT [FK__VENDAS__ID_CLIEN__35BCFE0A]
GO
ALTER TABLE [dbo].[VENDA_PRODUTO] DROP CONSTRAINT [FK__VENDA_PRO__ID_VE__34C8D9D1]
GO
ALTER TABLE [dbo].[VENDA_PRODUTO] DROP CONSTRAINT [FK__VENDA_PRO__ID_PR__33D4B598]
GO
ALTER TABLE [dbo].[PRODUTOS] DROP CONSTRAINT [FK__PRODUTOS__ID_FOR__32E0915F]
GO
ALTER TABLE [dbo].[FORNECIMENTOS] DROP CONSTRAINT [FK__FORNECIME__ID_FO__3E52440B]
GO
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO] DROP CONSTRAINT [FK__FORNECIME__ID_PR__4222D4EF]
GO
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO] DROP CONSTRAINT [FK__FORNECIME__ID_FO__412EB0B6]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[VENDAS]
GO
/****** Object:  Table [dbo].[VENDA_PRODUTO]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[VENDA_PRODUTO]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[USERS]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[PRODUTOS]
GO
/****** Object:  Table [dbo].[FUNCIONARIOS]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[FUNCIONARIOS]
GO
/****** Object:  Table [dbo].[FORNECIMENTOS]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[FORNECIMENTOS]
GO
/****** Object:  Table [dbo].[FORNECIMENTO_PRODUTO]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[FORNECIMENTO_PRODUTO]
GO
/****** Object:  Table [dbo].[FORNECEDORES]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[FORNECEDORES]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 18/06/2018 17:46:03 ******/
DROP TABLE [dbo].[CLIENTES]
GO
/****** Object:  User [Otavio]    Script Date: 18/06/2018 17:46:03 ******/
DROP USER [Otavio]
GO
USE [master]
GO
/****** Object:  Database [Madeireira]    Script Date: 18/06/2018 17:46:03 ******/
DROP DATABASE [Madeireira]
GO
/****** Object:  Database [Madeireira]    Script Date: 18/06/2018 17:46:03 ******/
CREATE DATABASE [Madeireira]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Madeireira', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.FQASQLSERVER\MSSQL\DATA\Madeireira.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Madeireira_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.FQASQLSERVER\MSSQL\DATA\Madeireira_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Madeireira].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Madeireira]
GO
USE [Madeireira]
GO
/****** Object:  User [Otavio]    Script Date: 18/06/2018 17:46:03 ******/
CREATE USER [Otavio] FOR LOGIN [Otavio] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [nvarchar](100) NULL,
	[IDENTIDADE_CLIENTE] [nvarchar](30) NOT NULL,
	[CEP_CLIENTE] [nvarchar](30) NULL,
	[RUA_CLIENTE] [nvarchar](100) NULL,
	[NUMERO_CLIENTE] [nvarchar](30) NULL,
	[BAIRRO_CLIENTE] [nvarchar](100) NULL,
	[CIDADE_CLIENTE] [nvarchar](100) NULL,
	[ESTADO_CLIENTE] [nvarchar](2) NULL,
	[TELEFONE_CLIENTE] [nvarchar](30) NULL,
	[CELULAR_CLIENTE] [nvarchar](30) NULL,
	[EMAIL_CLIENTE] [nvarchar](100) NULL,
	[DATA_INFO_CLIENTE] [datetime] NULL,
	[OBS_CLIENTE] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECEDORES]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDORES](
	[ID_FORNECEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FORNECEDOR] [nvarchar](100) NULL,
	[IDENTIDADE_FORNECEDOR] [nvarchar](30) NOT NULL,
	[CEP_FORNECEDOR] [nvarchar](30) NULL,
	[RUA_FORNECEDOR] [nvarchar](100) NULL,
	[NUMERO_FORNECEDOR] [nvarchar](30) NULL,
	[BAIRRO_FORNECEDOR] [nvarchar](100) NULL,
	[CIDADE_FORNECEDOR] [nvarchar](100) NULL,
	[ESTADO_FORNECEDOR] [nvarchar](2) NULL,
	[TELEFONE_FORNECEDOR] [nvarchar](30) NULL,
	[CELULAR_FORNECEDOR] [nvarchar](30) NULL,
	[EMAIL_FORNECEDOR] [nvarchar](100) NULL,
	[DATA_INFO_FORNECEDOR] [datetime] NULL,
	[OBS_FORNECEDOR] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FORNECEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECIMENTO_PRODUTO]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECIMENTO_PRODUTO](
	[ID_FORNECIMENTO_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_FORNECIMENTO] [int] NULL,
	[ID_PRODUTO] [int] NULL,
	[QUANTIDADE_PRODUTO] [decimal](18, 4) NULL,
 CONSTRAINT [PK__FORNECIM__F700702FC3485E36] PRIMARY KEY CLUSTERED 
(
	[ID_FORNECIMENTO_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECIMENTOS]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECIMENTOS](
	[ID_FORNECIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DATA_FORNECIMENTO] [datetime] NULL,
	[VALOR_FORNECIMENTO] [decimal](18, 2) NULL,
	[ID_FORNECEDOR] [int] NULL,
	[OBS_FORNECIMENTO] [nvarchar](250) NULL,
 CONSTRAINT [PK__FORNECIM__CD32CD07C1ABBE01] PRIMARY KEY CLUSTERED 
(
	[ID_FORNECIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIOS]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIOS](
	[ID_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FUNCIONARIO] [nvarchar](100) NULL,
	[IDENTIDADE_FUNCIONARIO] [nvarchar](30) NOT NULL,
	[CARGO_FUNCIONARIO] [nvarchar](50) NULL,
	[CEP_FUNCIONARIO] [nvarchar](30) NULL,
	[RUA_FUNCIONARIO] [nvarchar](100) NULL,
	[NUMERO_FUNCIONARIO] [nvarchar](30) NULL,
	[BAIRRO_FUNCIONARIO] [nvarchar](100) NULL,
	[CIDADE_FUNCIONARIO] [nvarchar](100) NULL,
	[ESTADO_FUNCIONARIO] [nvarchar](2) NULL,
	[TELEFONE_FUNCIONARIO] [nvarchar](30) NULL,
	[CELULAR_FUNCIONARIO] [nvarchar](30) NULL,
	[EMAIL_FUNCIONARIO] [nvarchar](100) NULL,
	[DATA_INFO_FUNCIONARIO] [datetime] NULL,
	[OBS_FUNCIONARIO] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PRODUTO] [nvarchar](100) NULL,
	[QUANTIDADE_PRODUTO] [decimal](18, 4) NULL,
	[VALOR_PRODUTO] [decimal](18, 2) NULL,
	[ID_FORNECEDOR_PRODUTO] [int] NULL,
	[OBS_PRODUTO] [nvarchar](250) NULL,
 CONSTRAINT [PK__PRODUTOS__69B28A524A3A34FA] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_USUARIO] [nvarchar](30) NOT NULL,
	[SENHA_USUARIO] [nvarchar](30) NOT NULL,
	[NIVEL_USUARIO] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__USERS__91136B90A062946B] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDA_PRODUTO]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA_PRODUTO](
	[ID_VENDA_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENDA] [int] NULL,
	[ID_PRODUTO] [int] NULL,
	[QUANTIDADE_PRODUTO] [decimal](18, 4) NULL,
 CONSTRAINT [PK__VENDA_PR__0B3D8415E42E5C4A] PRIMARY KEY CLUSTERED 
(
	[ID_VENDA_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 18/06/2018 17:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[ID_VENDA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_VENDEDOR] [int] NULL,
	[DATA_VENDA] [datetime] NULL,
	[VALOR_VENDA] [decimal](18, 2) NULL,
	[ENDERECO_ENTREGA_VENDA] [nvarchar](200) NULL,
 CONSTRAINT [PK__VENDAS__F3B65F88223252C6] PRIMARY KEY CLUSTERED 
(
	[ID_VENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOME_CLIENTE], [IDENTIDADE_CLIENTE], [CEP_CLIENTE], [RUA_CLIENTE], [NUMERO_CLIENTE], [BAIRRO_CLIENTE], [CIDADE_CLIENTE], [ESTADO_CLIENTE], [TELEFONE_CLIENTE], [CELULAR_CLIENTE], [EMAIL_CLIENTE], [DATA_INFO_CLIENTE], [OBS_CLIENTE]) VALUES (1003, N'OTÁVIO AUGUSTO DE ALMEIDA', N'106.023.048-81', N'18074-637', N'RUA MILTON DE CAMPOS', N'105', N'SÃO GUILHERME 1', N'SOROCABA', N'SP', N'(15)33113-965', N'(15)98809-1495', N'OTAVIOALMEIDA650@GMAIL.COM', CAST(N'2018-06-03T13:12:32.907' AS DateTime), N'ARROZ')
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOME_CLIENTE], [IDENTIDADE_CLIENTE], [CEP_CLIENTE], [RUA_CLIENTE], [NUMERO_CLIENTE], [BAIRRO_CLIENTE], [CIDADE_CLIENTE], [ESTADO_CLIENTE], [TELEFONE_CLIENTE], [CELULAR_CLIENTE], [EMAIL_CLIENTE], [DATA_INFO_CLIENTE], [OBS_CLIENTE]) VALUES (2002, N'CAUÊ RIBEIRO', N'477.047.028-23', N'18074-631', N'RUA DOS BOBOS', N'100', N'SÃO GUILHERME 1', N'SOROCABA', N'SP', N'(15)32394-608', N'(15)98809-1495', N'CAUE123@GMAIL.COM', CAST(N'2018-06-13T18:53:43.533' AS DateTime), N'BATATA')
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOME_CLIENTE], [IDENTIDADE_CLIENTE], [CEP_CLIENTE], [RUA_CLIENTE], [NUMERO_CLIENTE], [BAIRRO_CLIENTE], [CIDADE_CLIENTE], [ESTADO_CLIENTE], [TELEFONE_CLIENTE], [CELULAR_CLIENTE], [EMAIL_CLIENTE], [DATA_INFO_CLIENTE], [OBS_CLIENTE]) VALUES (3002, N'JOSÉ ROBERTO', N'437.816.858-88', N'18074-637', N'RUA MILTON DE CAMPOS', N'105', N'SÃO GUILHERME 1', N'SOROCABA', N'SP', N'(15)33113-965', N'(15)98809-1495', N'OTAVIOALMEIDA650@GMAIL.COM', CAST(N'2018-05-22T14:24:10.153' AS DateTime), N'ARROZ')
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
SET IDENTITY_INSERT [dbo].[FORNECEDORES] ON 

SET IDENTITY_INSERT [dbo].[FORNECEDORES] OFF
SET IDENTITY_INSERT [dbo].[FORNECIMENTO_PRODUTO] ON 

INSERT [dbo].[FORNECIMENTO_PRODUTO] ([ID_FORNECIMENTO_PRODUTO], [ID_FORNECIMENTO], [ID_PRODUTO], [QUANTIDADE_PRODUTO]) VALUES (1, 1, 4, CAST(100.0000 AS Decimal(18, 4)))
INSERT [dbo].[FORNECIMENTO_PRODUTO] ([ID_FORNECIMENTO_PRODUTO], [ID_FORNECIMENTO], [ID_PRODUTO], [QUANTIDADE_PRODUTO]) VALUES (2, 1, 1, CAST(50.0000 AS Decimal(18, 4)))
INSERT [dbo].[FORNECIMENTO_PRODUTO] ([ID_FORNECIMENTO_PRODUTO], [ID_FORNECIMENTO], [ID_PRODUTO], [QUANTIDADE_PRODUTO]) VALUES (3, 2, 1, CAST(100.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[FORNECIMENTO_PRODUTO] OFF
SET IDENTITY_INSERT [dbo].[FORNECIMENTOS] ON 

INSERT [dbo].[FORNECIMENTOS] ([ID_FORNECIMENTO], [DATA_FORNECIMENTO], [VALOR_FORNECIMENTO], [ID_FORNECEDOR], [OBS_FORNECIMENTO]) VALUES (1, CAST(N'2018-06-07T15:26:18.877' AS DateTime), CAST(26025.00 AS Decimal(18, 2)), 1, N'')
INSERT [dbo].[FORNECIMENTOS] ([ID_FORNECIMENTO], [DATA_FORNECIMENTO], [VALOR_FORNECIMENTO], [ID_FORNECEDOR], [OBS_FORNECIMENTO]) VALUES (2, CAST(N'2018-06-13T19:39:10.297' AS DateTime), CAST(28190.00 AS Decimal(18, 2)), 2, N'')
INSERT [dbo].[FORNECIMENTOS] ([ID_FORNECIMENTO], [DATA_FORNECIMENTO], [VALOR_FORNECIMENTO], [ID_FORNECEDOR], [OBS_FORNECIMENTO]) VALUES (3, CAST(N'2018-06-13T19:55:11.920' AS DateTime), CAST(5000.00 AS Decimal(18, 2)), 2, N'')
SET IDENTITY_INSERT [dbo].[FORNECIMENTOS] OFF
SET IDENTITY_INSERT [dbo].[FUNCIONARIOS] ON 

SET IDENTITY_INSERT [dbo].[FUNCIONARIOS] OFF
SET IDENTITY_INSERT [dbo].[PRODUTOS] ON 

INSERT [dbo].[PRODUTOS] ([ID_PRODUTO], [NOME_PRODUTO], [QUANTIDADE_PRODUTO], [VALOR_PRODUTO], [ID_FORNECEDOR_PRODUTO], [OBS_PRODUTO]) VALUES (1, N'PREGO', CAST(206.0000 AS Decimal(18, 4)), CAST(50.00 AS Decimal(18, 2)), 1, N'She plays mind games, but I don''t play the same')
INSERT [dbo].[PRODUTOS] ([ID_PRODUTO], [NOME_PRODUTO], [QUANTIDADE_PRODUTO], [VALOR_PRODUTO], [ID_FORNECEDOR_PRODUTO], [OBS_PRODUTO]) VALUES (4, N'CALHA', CAST(221.0000 AS Decimal(18, 4)), CAST(10.25 AS Decimal(18, 2)), 2, N'Huaba Labba dub dub')
INSERT [dbo].[PRODUTOS] ([ID_PRODUTO], [NOME_PRODUTO], [QUANTIDADE_PRODUTO], [VALOR_PRODUTO], [ID_FORNECEDOR_PRODUTO], [OBS_PRODUTO]) VALUES (5, N'TIJOLO BAIANO', CAST(585.0000 AS Decimal(18, 4)), CAST(20.68 AS Decimal(18, 2)), 1, N'aosidjfioasdjfoiajsdoifjaoikldsjnoikvfjawe')
SET IDENTITY_INSERT [dbo].[PRODUTOS] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID_USUARIO], [LOGIN_USUARIO], [SENHA_USUARIO], [NIVEL_USUARIO]) VALUES (1, N'ADMIN', N'ADMIN', N'ADMIN')
INSERT [dbo].[USERS] ([ID_USUARIO], [LOGIN_USUARIO], [SENHA_USUARIO], [NIVEL_USUARIO]) VALUES (3, N'OTAVIO', N'OTAVIO@435', N'ADMIN')
SET IDENTITY_INSERT [dbo].[USERS] OFF
SET IDENTITY_INSERT [dbo].[VENDA_PRODUTO] ON 

INSERT [dbo].[VENDA_PRODUTO] ([ID_VENDA_PRODUTO], [ID_VENDA], [ID_PRODUTO], [QUANTIDADE_PRODUTO]) VALUES (1, 1, 1, CAST(2.0000 AS Decimal(18, 4)))
INSERT [dbo].[VENDA_PRODUTO] ([ID_VENDA_PRODUTO], [ID_VENDA], [ID_PRODUTO], [QUANTIDADE_PRODUTO]) VALUES (2, 1, 5, CAST(1.0000 AS Decimal(18, 4)))
INSERT [dbo].[VENDA_PRODUTO] ([ID_VENDA_PRODUTO], [ID_VENDA], [ID_PRODUTO], [QUANTIDADE_PRODUTO]) VALUES (3, 7, 7, CAST(1.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[VENDA_PRODUTO] OFF
SET IDENTITY_INSERT [dbo].[VENDAS] ON 

INSERT [dbo].[VENDAS] ([ID_VENDA], [ID_CLIENTE], [ID_VENDEDOR], [DATA_VENDA], [VALOR_VENDA], [ENDERECO_ENTREGA_VENDA]) VALUES (1, 3002, 1, CAST(N'2018-06-06T01:53:06.813' AS DateTime), CAST(1020.68 AS Decimal(18, 2)), NULL)
INSERT [dbo].[VENDAS] ([ID_VENDA], [ID_CLIENTE], [ID_VENDEDOR], [DATA_VENDA], [VALOR_VENDA], [ENDERECO_ENTREGA_VENDA]) VALUES (2, 1003, 1, CAST(N'2018-06-07T15:19:46.690' AS DateTime), CAST(994400.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[VENDAS] ([ID_VENDA], [ID_CLIENTE], [ID_VENDEDOR], [DATA_VENDA], [VALOR_VENDA], [ENDERECO_ENTREGA_VENDA]) VALUES (3, 1003, 1, CAST(N'2018-06-07T15:19:56.283' AS DateTime), CAST(994400.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[VENDAS] OFF
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK__FORNECIME__ID_FO__412EB0B6] FOREIGN KEY([ID_FORNECIMENTO])
REFERENCES [dbo].[FORNECIMENTOS] ([ID_FORNECIMENTO])
GO
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO] CHECK CONSTRAINT [FK__FORNECIME__ID_FO__412EB0B6]
GO
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK__FORNECIME__ID_PR__4222D4EF] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[PRODUTOS] ([ID_PRODUTO])
GO
ALTER TABLE [dbo].[FORNECIMENTO_PRODUTO] CHECK CONSTRAINT [FK__FORNECIME__ID_PR__4222D4EF]
GO
ALTER TABLE [dbo].[FORNECIMENTOS]  WITH CHECK ADD  CONSTRAINT [FK__FORNECIME__ID_FO__3E52440B] FOREIGN KEY([ID_FORNECEDOR])
REFERENCES [dbo].[FORNECEDORES] ([ID_FORNECEDOR])
GO
ALTER TABLE [dbo].[FORNECIMENTOS] CHECK CONSTRAINT [FK__FORNECIME__ID_FO__3E52440B]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__ID_FOR__32E0915F] FOREIGN KEY([ID_FORNECEDOR_PRODUTO])
REFERENCES [dbo].[FORNECEDORES] ([ID_FORNECEDOR])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__ID_FOR__32E0915F]
GO
ALTER TABLE [dbo].[VENDA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK__VENDA_PRO__ID_PR__33D4B598] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[PRODUTOS] ([ID_PRODUTO])
GO
ALTER TABLE [dbo].[VENDA_PRODUTO] CHECK CONSTRAINT [FK__VENDA_PRO__ID_PR__33D4B598]
GO
ALTER TABLE [dbo].[VENDA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK__VENDA_PRO__ID_VE__34C8D9D1] FOREIGN KEY([ID_VENDA])
REFERENCES [dbo].[VENDAS] ([ID_VENDA])
GO
ALTER TABLE [dbo].[VENDA_PRODUTO] CHECK CONSTRAINT [FK__VENDA_PRO__ID_VE__34C8D9D1]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK__VENDAS__ID_CLIEN__35BCFE0A] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK__VENDAS__ID_CLIEN__35BCFE0A]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK__VENDAS__ID_VENDE__36B12243] FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[USERS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK__VENDAS__ID_VENDE__36B12243]
GO
USE [master]
GO
