<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCCMadeireira.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TCCMadeireira.Properties.Settings.MadereiraConnectionString"
            connectionString="Data Source=desktop-fqa\fqasqlserver;Initial Catalog=Madereira;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TCCMadeireira.Properties.Settings.MadeireiraConnectionString"
            connectionString="Data Source=desktop-fqa\fqasqlserver;Initial Catalog=Madeireira;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <TCCMadeireira.Properties.Settings>
            <setting name="EscolaConnectionString" serializeAs="String">
                <value>Data Source=192.168.15.2\FQASQLSERVER;Initial Catalog=Madeireira;User ID=Otavio;Password=Otavio@435</value>
            </setting>
            <setting name="CasaConnectionString" serializeAs="String">
                <value>Data Source=desktop-fqa\fqasqlserver;Initial Catalog=Madeireira;Integrated Security=True</value>
            </setting>
            <setting name="CasaPWDConnectionString" serializeAs="String">
                <value>Data Source=192.168.15.2\FQASQLSERVER;Initial Catalog=Madeireira;User ID=Otavio;Password=Otavio@435</value>
            </setting>
            <setting name="db_04919_1_C_1_2017ConnectionString" serializeAs="String">
                <value>Data Source=192.168.15.2\FQASQLSERVER;Initial Catalog=Madeireira;User ID=Otavio;Password=Otavio@435</value>
            </setting>
            <setting name="NoteConnectionString" serializeAs="String">
                <value>Data Source=NOTE-FQA\FQASQLSERVER;Initial Catalog=Madeireira;Integrated Security=True</value>
            </setting>
        </TCCMadeireira.Properties.Settings>
    </applicationSettings>
</configuration>
